mixin carousel-buttons(leftId, rightId, labelClass)
    .carousel-buttons
        .carousel-buttons__check-points
            - for (let i = 0; i < 3; i++)
                input(type="radio" name="groupCatCarousel" id="radioButton#{i}" hidden)
                label(class=`carousel-buttons__check-points--one-point ${labelClass}` for="radioButton#{i}")
        .carousel-buttons__control
            button(id=leftId).carousel-buttons__control--one-button
                i.fa-solid.fa-angle-left
            button(id=rightId).carousel-buttons__control--one-button
                i.fa-solid.fa-angle-right
